<div class="control-section ancho-tabla">
    <h1>Clientes</h1>
    <ejs-grid #grid [dataSource]='data' allowPaging='true' [pageSettings]='pageSettings'>
        <e-columns>
            <e-column field='OrderID' headerText='ID Producto' width='120' textAlign='Right'></e-column>
            <e-column field='CustomerID' headerText='ID Cliente' width='160' textAlign='Right'></e-column>
            <e-column field='EmployeeID' headerText='ID Empleado' width='120' textAlign='Right'></e-column>
            <e-column field='Freight' headerText='Coste' width='150' format="C2" textAlign='Right'></e-column>
            <e-column field='ShipCountry' headerText='País de envío' width='150' textAlign='Right'></e-column>
        </e-columns>
    </ejs-grid>
</div>